:host {
  display: block;
  padding-block-end: 4em;
}

h2 {
  margin-block-start: 4em;
}

p {
  max-width: 65ch;
  margin-inline: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5em 2em;
  background: #000;
  position: absolute;
  opacity: 0;
  transform: translateY(2rem);

  &.visible {
    animation: 0.5s fadeIn 0.5s ease-out forwards;
  }

  span {
    font-size: 0.6rem;
    text-transform: uppercase;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}