<h2>Title in TopComponent</h2>
<div class="content">
    <div class="img-wrapper">
        <img src="assets/img/bg_1.jpg" alt="">
    </div>
    <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusamus odit obcaecati, officiis dicta molestias, nulla cumque veniam vel facilis qui maxime modi? Nam dignissimos voluptatem incidunt eum tempora! Velit sit amet omnis ut, facere nobis voluptate quisquam! Molestiae, distinctio? Laudantium voluptatum accusantium hic enim qui a expedita cumque nihil quo optio, at voluptatibus suscipit aliquid omnis tempore laboriosam vero odio. Quis omnis sed temporibus recusandae fuga alias vero dolore nihil doloribus sunt? Numquam accusantium eveniet, dignissimos saepe nostrum atque quas. Quasi voluptate saepe excepturi expedita doloremque autem quia fugit modi! Ab sequi tenetur beatae harum quasi incidunt, odit illo?</p>
        <div class="button-wrapper">
            <button>scroll</button>
            <span>Scroll to BottomComponent</span>
        </div>
    </div>
</div>